@mixin d-max-width {
  max-width: 1140px;
  margin: 0 auto;
}

@mixin display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin display-menu {
  display: flex;
  justify-content: center;
}

@mixin tractor__img {
  background-image: url(/imgs/img/3.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
  z-index: -1;
  background-repeat: no-repeat;
}
@mixin About-tractor__img {
  background-image: url(/imgs/img/2.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  z-index: -1;
  background-repeat: no-repeat;
}

@mixin hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.5;
  z-index: -1;

  background: #070606;
}

@mixin button {
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  line-height: 1.5;
  padding: 12px 12px;
  display: inline-block;

  font-weight: 700;
}
//  orange color-btn
@mixin btn__color {
  background: #ffa931;
  border: 1px solid #ffa931;
  color: #000000;
}
@mixin btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000000;
}

@mixin span__why-icon {
  line-height: 1.3;
  position: relative;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  z-index: 1;
  margin-bottom: 20px;
  background: #042e4f;
  border-radius: 50%;
}

@mixin why__title {
  line-height: 1.2;
  font-size: 40px;
  font-weight: 700;
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 48px;
}

@mixin fa-solid {
  line-height: 1.3;
  position: relative;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  z-index: 1;
  margin-bottom: 20px;
  background: #042e4f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffdfd;
  font-size: 50px;
}

@mixin content__title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

@mixin form-control {
  width: 100%;

  display: block;
  margin-bottom: 16px;
  border: none;
  height: 54px;
  padding-left: 15px;
  appearance: none;
  padding-right: 15px;
  background: #e9e8e8;
  color: rgb(83, 82, 82);
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 5px;

  box-shadow: none;
}

@mixin icon {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 16px;

  transform: translateY(-50%);
}

@mixin btn {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  padding: 16px 26px;
  border-radius: 5px;
}

@mixin Welcome__img-boxs {
  background-image: url(/imgs/img/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

@mixin Equipo__span {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  color: #ffa931;
  letter-spacing: 2px;
  font-weight: 800;
}
@mixin Equipo__title {
  line-height: 1.2;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
}

@mixin achievement__item {
  display: block;
  width: 45%;

  background: rgba(0, 0, 0, 0.05);
  background: #042e4f;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@mixin achievement__number {
  font-weight: 700;
  font-size: 30px;
  color: #ffa931;
  display: block;
}
@mixin achievement__p {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin section__Renting-img {
  background-size: cover;
  background-image: url(imgs/img/4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5em 0;
  width: 100%;
  height: 100%;

  position: relative;
  color: rgba(255, 255, 255, 0.8);

  z-index: 2;
  overflow: hidden;
}

@mixin section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.9;
  background: #042641;
  z-index: -2;
}

@mixin overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 58%;
  content: "";
  background: rgba(255, 255, 255, 0.05);

  transform: matrix(1, 0, 0.5, 1, 150, 0);
  z-index: -1;
}
@mixin img--discription__title {
  font-weight: 500;
  font-size: 22px;
}

@mixin Rental__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 200px;
}

// @mixin Rental__img-Forklift {
//   background-image: url(/imgs/img/services-2.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   width: 100%;
//   height: 200px;
// }

// @mixin Rental__img-Crane {
//   background-image: url(/imgs/img/services-3.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   width: 100%;
//   height: 200px;
// }

// @mixin Rental__img-Excavator {
//   background-image: url(/imgs/img/services-4.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   width: 100%;
//   height: 200px;
// }

@mixin section__Testimonials---img {
  position: relative;
  background: #042e4f;
  overflow: hidden;
  background-image: url(/imgs/img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 5em 0;
  z-index: 0;
}

@mixin Testimonials__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.95;
  background: #042e4f;
  z-index: -2;
}

@mixin item__Testimonials {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: 600;
}
@mixin item__title {
  line-height: 1.2;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

@mixin use__img {
  background-size: cover;
  background-image: url(/imgs/img/person_1.jpg);
  width: 57%;
  height: 70px;
  border-radius: 66%;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
}

@mixin quote {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 30px;
  height: 30px;
  background: #ffa931;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
}

@mixin Latest__img {
  background-image: url(/imgs/img/image_1.jpg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 250px;
  width: 100%;

  display: block;
}

@mixin Latest__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 250px;
  width: 100%;

  display: block;
}

